<h1>Orders</h1>
<ul>
  <table id="orders">
    <tr>
      <th>id</th>
      <th>order_number</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to "#{order.id}", order_path(order.id) %>
        </td>
        <td>
          <%= link_to "#{order.order_number}", order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </table>  
</ul>
<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>

<h2>Import Products</h2>
<%= form_tag import_orders_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
